<div class="container">
    <h4 class="titulo" align="center">AGREGAR NOTICIAS</h4>
    <div class="form">
        <input type="text" [(ngModel)]="noticia.titulo" name="titulo" id="" placeholder="titulo" required>
        <input type="text" [(ngModel)]="noticia.descripcion_corta" name="descripcion_corta" id="" placeholder="descripcion corta" required>
        <textarea type="text" [(ngModel)]="noticia.descripcion_larga" name="descripcion_larga" id="" placeholder="descripcionlarga" required> </textarea>
        <input type="text" [(ngModel)]="noticia.anexo" name="anexo" id="" placeholder="anexo" required>
        <input type="text" [(ngModel)]="noticia.keywords" name="keywords" id="" placeholder="palabras clave separadas por coma" required>
        <input type="submit" (click)="agregarNoticia()" value="AGREGAR">
    </div>
</div>

